# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
.env
.venv
*.egg-info/
*.egg
dist/
build/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.hypothesis/

# Pytest
.cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Streamlit
.streamlit/secrets.toml

# Logs
*.log

# Temporary files
*.tmp
*.temp
*.swp
*.swo

# Other
*.bak
*.orig
*.rej
*.~
*.un~